{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Makine Ekipman Elektrik Dönüşüm Projeleri - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/cozumler">Çözümlerimiz</a></li>
                    <li>Makine Ekipman Elektrik Dönüşüm Projeleri</li>
                </ol>
                <h2>Makine Ekipman Elektrik Dönüşüm Projeleri</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Makine Ekipman Elektrik Dönüşüm Projeleri</p></header>
                    <p style="text-align:justify;">
                        Firmamız, çevre dostu teknolojilerin geliştirilmesi, enerji verimliliğinin artırılması, yenilenebilir enerji kaynaklarının kullanımının yaygınlaştırılması ve karbon salınımını azaltarak daha sürdürülebilir bir geleceğe doğru ilerlemek için çalışmalar yürütmektedir.
                        Bu kapsamda, Avrupa Birliği'nin Yeşil Mutabakatı'nın da hedeflerine uygun makine ve ekipmanların elektrikli dönüşüm projemiz ile hayata geçirme çalışmalarımızı sürdürüyoruz.
                        Elektrikliye dönüşüm projemiz ile hedefimiz yüksek enerji tüketimini azaltarak işletmelerin çevre dostu yaklaşıma sahip olmasını amaçlamaktır.
                        Günümüzde, sürdürülebilir ve enerji verimliliği sağlayan teknolojilerin kullanımı giderek artmaktadır. 
                        Böylelikle işletmenizin karbon ayak izini azaltarak maliyetlerinizi düşürebilirsiniz. 
                        Firmamızın deneyimli ve uzman ekibi, makineleriniz ve ekipmanlarınızı inceleyerek en uygun elektrikli dönüşüm çözümü tasarlayarak uygulayacaktır. 
                        Projelerimiz, size güvenli ve verimli şekilde tamamlanarak işletmenizin ihtiyaçlarına özel tasarlanır. 
                        Endüstriyel makine ve ekipmanlarınızı modernize ederek enerji tüketiminizi azaltacaksınız. 
                    </p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item fw-bold">Elektrikli makineler daha az bakım gerektirir. </li>
                        <li class="list-group-item fw-bold">Sessiz çalışır ve daha az titreşim yapar.</li>
                        <li class="list-group-item fw-bold">Enerji tüketiminizde azalma sağlayarak işletmenizin karlılığını artırır.</li>
                        <li class="list-group-item fw-bold">Çevre dostudur.</li>
                    </ul>
                    <p class="mt-4" style="text-align:justify;">
                        Solvaytech, müşterilerimize kaliteli hizmet sunmak ve müşteri memnuniyetini sağlamak için büyük bir özveriyle çalışmaktadır. 
                        Proje hakkında bilgi almak veya talep etmek için bizimle iletişime geçebilirsiniz.
                    </p>
                    <p class="fw-bold" style="text-align:end;">
                        Saygılarımızla<br>
                        Solvaytech
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/cozumler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Çözümler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/cozumler/proje-danisma" class="btn btn-primary" role="button">Proje Danışmanlığı <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>