{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <title>Batarya Teknolojileri Termal Yönetim Test Cihazı - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/urunler">Ürünler</a></li>
                    <li>Batarya Teknolojileri Termal Yönetim Test Cihazı</li>
                </ol>
                <h2>Batarya Teknolojileri Termal Yönetim Test Cihazı</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Batarya Teknolojileri Termal Yönetim Test Cihazı</p></header>
                    <p style="text-align:justify;">
                        Batarya teknolojileri termal yönetim test cihazları, bataryaların sıcaklık kontrolünü simüle etmek ve test etmek için kullanılan cihazlardır.
                        Bataryaların çalışma sıcaklıkları altında ölçümler yaparak, bataryaların soğutma veya ısıtma sistemlerinin doğru şekilde çalıştığını doğrular. 
                        Bu cihaz, batarya hücrelerinin sıcaklık, voltaj ve akım gibi önemli özelliklerini ölçerek, batarya paketinin termal yönetimini optimize etmek için veri sağlar. 
                        Bataryaların yüksek sıcaklıklara maruz kalması durumunda oluşabilecek yangın, patlama gibi tehlikeleri engellemek için de kullanılabilir. 
                        Aşırı ısınma durumunda çalışan soğutma sistemi ile bataryanın güvenli bir sıcaklıkta kaldığını test eder.
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/urunler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Ürünler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/urunler/acc-plc" class="btn btn-primary" role="button">ACC-PLC <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>