{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="description">
        <meta content="" name="keywords">
        <title>Sıcak Tel Köpük Kesme - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/urunler">Ürünler</a></li>
                    <li>Sıcak Tel Köpük Kesme</li>
                </ol>
                <h2>Sıcak Tel Köpük Kesme</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Sıcak Tel Köpük Kesme</p></header>
                    <p style="text-align:justify;">
                        Sıcak tel köpük kesme, bir router veya lazer yerine içinden akım geçtiğinde ısınan özel bir direnç telini kullanarak kesme işlemi yapan bir makinedir. Sıcak tel, köpük içerisinden geçerken köpüğü eriterek kesme işlemini hassas ve pratik bir şekilde gerçekleştirir.
                        Bu işlem CNC router makinelerine göre 2 kat daha hızlıdır.
                        Kullanım alanı: RC uçak kanatları, sörf tahtaları ve çok daha fazlası için kullanılabilir. EPS ve XPS Köpük türleri 2 boyutlu kesme işlemleri için kullanılabilir.
                        Düzgün konfigüre edilmiş bir sıcak tel köpük kesme makinesi, sizi çok fazla efordan kurtarabilir ve pürüzsüz bir yüzey elde etmenizi sağlar.
                        <ul>
                            <li>
                                60x60cm Kesme Alanı
                            </li>
                            <li>
                                Açık Kaynak Programlarla Çalışabilen
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/urunler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Ürünler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/urunler/bty" class="btn btn-primary" role="button">Batarya Teknolojileri Termal Yönetim Test Cihazı <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>