{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Çözümlerimiz - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
        {% include 'flex/include/header/page-header.html' %}
        <main id="main">
            <!-- ======= Breadcrumbs ======= -->
            <section class="breadcrumbs">
                <div class="container">
                    <ol>
                        <li><a href="/">Anasayfa</a></li>
                        <li>Çözümlerimiz</li>
                    </ol>
                    <h2>Çözümlerimiz</h2>
                </div>
            </section><!-- End Breadcrumbs -->
            <section class="inner-page">
                <div class="container p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid">
                        <header class="section-header"><p>Danışmanlık</p></header>
                        <a class="d-7-a" href="/cozumler/proje-danisma">
                            <p class="lead display-7">Proje danışmanlığı</p>
                        </a>
                        <a class="d-7-a" href="/cozumler/meedp">
                            <p class="lead display-7">Makine Ekipman Elektrik Dönüşüm Projeleri</p>
                        </a>
                        <hr class="my-4">
                        <header class="section-header"><p>Otomasyon</p></header>
                        <a class="d-7-a" href="/cozumler/otomasyon">
                            <p class="lead display-7">Otomasyon</p>
                        </a>
                        <hr class="my-4">
                        <header class="section-header"><p>Bakım Onarım Hizmetleri</p></header>
                        <a class="d-7-a" href="/cozumler/ekkkyg">
                            <p class="lead display-7">Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme</p>
                        </a>
                        <a class="d-7-a" href="/cozumler/ekkkt">
                            <p class="lead display-7">Endüstriyel Kontrol Kumanda Kart Tasarımı</p>
                        </a>
                        <a class="d-7-a" href="/cozumler/imkkkyg">
                            <p class="lead display-7">İş Makineleri Kontrol Kumanda Kart Yenileme / Güncelleme</p>
                        </a>
                        <a class="d-7-a" href="/cozumler/imkkkt">
                            <p class="lead display-7">İş Makineleri Kontrol Kumanda Kart Tasarım</p>
                        </a>
                        <hr class="my-4">
                        <header class="section-header"><p>Projeler</p></header>
                        <p class="lead display-7">Tübitak-Teydeb</p>
                        <ul>
                            <li>
                                <a class="d-7-a" href="/cozumler/projeler/onboard-charger">
                                    <p class="lead display-7">Onboard Charger</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-7-a" href="/cozumler/projeler/multiport">
                                    <p class="lead display-7">Multiport</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-7-a" href="/cozumler/projeler/arisistemi">
                                    <p class="lead display-7">Y.Z. Tabanlı Arı İzleme Sistemi</p>
                                </a>
                            </li>
                            <li>
                                <a class="d-7-a" href="/cozumler/projeler/droneproje">
                                    <p class="lead display-7">Y.Z. Tabanlı Drone Projesi</p>
                                </a>
                            </li>
                        </ul>
                        <hr class="my-4">
                        <p class="lead display-7">Kosgeb</p>
                        <ul>
                            <li>
                                <a class="d-7-a" href="/cozumler/projeler/ceryan">
                                    <p class="lead display-7">Ceryan</p>
                                </a>
                            </li>
                        </ul>
                        <hr class="my-4">
                        <p class="lead display-7">Avrupa Birliği</p>
                        <ul>
                            <li>
                                <p class="lead display-7">Hazırlanıyor</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main><!-- End #main -->
        {% include 'flex/include/flex-footer.html' %}
        {% include 'flex/include/script.html' %}
    </body>
</html>
