{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Çerez Politikası - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Çerez Politikası</li>
                </ol>
                <h2>Çerez Politikası</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Çerez Politikası</p></header>
                    <p style="text-align:justify;">
                        Bu Çerez Politikası Avrupa Ekonomik Bölgesi ve Türkiye Cumhuriyeti vatandaşları için geçerlidir. 
                        Türkiye Cumhuriyeti vatandaşları için ayrıntılı bilgi için <a href="/kvkk-aydinlatma">KVKK Bilgilendirme Metnimizi</a> ziyaret ediniz. 
                        <a href="/"></a>
                        <p class="lead display-6">I. Giriş</p>
                        Web sitemiz, <a href="/">https://solvaytech.com.tr/</a> (“Web Sitesi”) çerezleri ve diğer ilgili teknolojileri kullanmaktadır (“Çerezler”). 
                        Bu Çerez Politikası, çerezlerin ne olduğunu ve onları nasıl kullandığımızı açıklar. 
                        Çerezlerin ne olduğunu, nasıl kullandığımızı, kullandığımız çerez türlerini, çerezleri kullanarak topladığımız bilgileri ve bu bilgilerin nasıl kullanıldığını ve çerez tercihlerinin nasıl kontrol edileceğini anlamak için bu politikayı okumalısınız. 
                        Kişisel verilerinizi nasıl kullandığımız, sakladığımız ve nasıl güvende tuttuğumuz hakkında daha fazla bilgi için Gizlilik Politikamıza bakabilirsiniz. 
                        Web sitemizdeki Çerez Bildirimi’nden onayınızı istediğiniz zaman değiştirebilir veya geri çekebilirsiniz. 
                        Kim olduğumuz, bizimle nasıl iletişime geçebileceğiniz ve kişisel verilerinizi nasıl işleme koyduğumuz hakkında Gizlilik Politikamız aracılığıyla daha fazla bilgi edinebilirsiniz. 
                        <hr class="my-4">
                        <p class="lead display-6">II. Çerezler nedir?</p>
                        Çerezler, küçük bilgileri saklamak için kullanılan küçük metin dosyalarıdır. 
                        Web sitesi tarayıcınıza yüklendiğinde çerezler cihazınızda saklanır. 
                        Bu çerezler, web sitesinin düzgün çalışmasını sağlamamıza, web sitesini daha güvenli hale getirmemize, daha iyi kullanıcı deneyimi sunmamıza, web sitesinin nasıl performans gösterdiğini anlamamıza ve neyin çalıştığını ve nerede iyileştirilmesi gerektiğini analiz etmemize yardımcı olur. 
                        Komut dosyası, web sitemizin düzgün ve etkileşimli çalışmasını sağlamak için kullanılan bir program kodu parçasıdır. 
                        Bu kod sunucumuzda veya cihazınızda yürütülür. 
                        Bir web işaretçisi (veya bir piksel etiketi), bir web sitesindeki trafiği izlemek için kullanılan küçük, görünmez bir metin veya resim parçasıdır. 
                        Bunu yapmak için, sizinle ilgili çeşitli veriler web işaretçileri kullanılarak saklanır. 
                        <hr class="my-4">
                        <p class="lead display-6">III. Hangi çerezleri kullanırız?</p>
                        Çevrimiçi hizmetlerin çoğu gibi, web sitemiz de çeşitli amaçlarla birinci taraf ve üçüncü taraf çerezleri kullanır. 
                        Birinci taraf çerezleri çoğunlukla web sitesinin doğru şekilde çalışması için gereklidir ve kişisel olarak tanımlanabilir verilerinizin hiçbirini toplamazlar. 
                        Web sitelerimizde kullanılan üçüncü taraf çerezleri, temel olarak web sitesinin nasıl performans gösterdiğini kontrol etmemize, web sitemizle nasıl etkileşimde bulunduğunuzu anlamamıza, hizmetlerimizi güvende tutmamıza, sizinle alakalı reklamlar sunmamıza ve sonuç olarak size daha iyi bir kullanıcı deneyimi sunarak web sitemizle gelecekteki etkileşimlerinizi hızlandırmamıza yardımcı olur. 
                        <hr class="my-4">
                        <p class="lead display-6">IV. Onay</p>
                         Web sitemizi ilk kez ziyaret ettiğinizde, size çerezler hakkında bir açıklama içeren bir açılır pencere göstereceğiz. 
                         “Kabul Et” seçeneği ile tüm çerezleri, “Tercihleri Kaydet” seçeneği ile ise bu Çerez Politikasında açıklandığı gibi, açılır pencerede seçtiğiniz çerez ve eklenti kategorilerini kullanmamıza izin vermiş olursunuz. 
                         Tarayıcınız aracılığıyla çerez kullanımını devre dışı bırakabilirsiniz, ancak lütfen web sitemizin artık düzgün çalışmayabileceğini unutmayınız. 
                         ÖNEMLİ UYARI: Çerezlere önce izin verip bu izninizi daha sonrasında aşağıdaki modül aracılığı ile geri çekmeniz durumunda ilgili kategoriye ait çerezleri (tercihlerinizi aksi yönde değiştirmemeniz durumunda) sonraki ziyaretlerinizde yüklemeyeceğiz. 
                         Fakat tarayıcınıza daha önceden yüklenmiş olan çerezler teknik aksaklıklara sebep olmamak için otomatik olarak silinmeyecektir. 
                         Tarayıcınızın ayarları aracılığıyla bu çerezleri silmeniz mümkündür. 
                         Bu işlemi nasıl gerçekleştirebileceğinizi öğrenmek için tarayıcınızın ilgili sayfalarını ziyaret edebilirsiniz. 
                         Tercihlerinize uygun olmayan bir çerez aktarımı tespit etmeniz durumunda ise lütfen bizimle iletişime geçiniz. 
                        <hr class="my-4">
                        <p class="lead display-6">V. Hangi tür çerezleri kullanabiliriz?</p>
                        <p class="lead display-7">Teknik veya Fonksiyonel </p>
                        Bazı çerezler, web sitesinin belirli bölümlerinin düzgün çalışmasını ve kullanıcı tercihlerinizin bilinmesini sağlar. 
                        İşlevsel çerezler yerleştirerek web sitemizi ziyaret etmenizi kolaylaştırıyoruz. 
                        Bu şekilde, web sitemizi ziyaret ederken aynı bilgileri tekrar tekrar girmeniz gerekmez ve örneğin, ödeme yapana kadar öğeler alışveriş sepetinizde kalır. 
                        Bu çerezleri sizin izniniz olmadan yerleştirebiliriz. <br><br>
                        <p class="lead display-7">Analitik </p>
                        Kullanıcılarımız için web sitesi deneyimini optimize etmek için analitik çerezler kullanıyoruz. 
                        Bu analitik çerezler ile web sitemizin kullanımı hakkında bilgi ediniyoruz. 
                        Analitik çerezler yerleştirmek için izninizi istiyoruz. <br><br>
                        <p class="lead display-7">Pazarlama </p> 
                        Bu web sitesinde sizin için reklamları kişiselleştirmemize olanak tanıyan reklam çerezleri kullanıyoruz ve biz (ve üçüncü taraflar) kampanya sonuçları hakkında bilgi ediniyoruz. 
                        Bu, tıklama ve https://solvaytech.com.tr/ üzerinde ve dışında gezinmeye dayalı olarak oluşturduğumuz bir profile dayanır. 
                        Bu çerezlerle, web sitesi ziyaretçisi benzersiz bir kimliğe bağlı olduğunuz için aynı reklamı örneğin bir kereden fazla görmezsiniz.
                        Bu çerezler izleme çerezleri olarak işaretlendiğinden, bunları yerleştirmek için izninizi istiyoruz. <br><br>
                        <p class="lead display-7">Sosyal Medya </p>  
                        Web sitemize, Facebook, Twitter ve Instagram gibi sosyal ağlarda web sayfalarını (ör. “Beğen”, “sabitle”) veya paylaşmayı (ör. “Tweet”) tanıtmak için Facebook, Twitter ve Instagram butonları ekledik. 
                        Bu butonlar Facebook, Twitter ve Instagram öğelerinden gelen kod parçalarını kullanarak çalışır. 
                        Bu kod çerezleri yerleştirir. 
                        Bu sosyal medya butonları de belirli bilgileri saklayabilir ve işleyebilir. 
                        Böylece kişiselleştirilmiş bir reklam size gösterilebilir. 
                        Bu çerezleri kullanarak işledikleri (kişisel) verilerinizle yaptıklarını okumak için lütfen bu sosyal ağların (düzenli olarak değişebilen) gizlilik bildirimini okuyun. 
                        Alınan veriler mümkün olduğunca anonimleştirilir. 
                        Facebook, Twitter ve Instagram Amerika Birleşik Devletleri’nde bulunmaktadır. 
                        <hr class="my-4">
                        <p class="lead display-6">VI. Kullanılan Çerezler</p>
                        <p class="lead display-7">Google Fonts</p>
                        Web fontlarımız için Google Fonts kullanmaktayız. 
                        Daha fazla bilgi için tıklayınız. 
                        Bu çerez kullanıcıların IP adresini okur ve işlem bittikten hemen sonra tükenir. 
                        <hr class="my-4">
                        <p class="lead display-6">VII. Kişisel Verilere İlişkin Haklarınız </p>
                        Kişisel verilerinizle ilgili olarak aşağıdaki haklara sahipsiniz: 
                        <ol class="list-group list-group-flush">
                            <li class="list-group-item">Kişisel verilerinize neden ihtiyaç duyulduğunu, ne olacağını ve ne kadar süreyle saklanacağını bilme hakkına sahipsiniz.</li>
                            <li class="list-group-item">Erişim hakkı: Bizim tarafımızdan bilinen kişisel verilerinize erişme hakkına sahipsiniz. </li>
                            <li class="list-group-item">Düzeltme hakkı: Kişisel verilerinizi dilediğiniz zaman tamamlama, düzeltme, silme veya engelleme hakkına sahipsiniz. </li>
                            <li class="list-group-item">Bize verilerinizi işleme izninizi verirseniz, bu rızayı iptal etme ve kişisel verilerinizi silme hakkınız vardır. </li>
                            <li class="list-group-item">Verilerinizi aktarma hakkı: Tüm kişisel verilerinizi denetleyiciden talep etme ve bütünüyle başka bir denetleyiciye aktarma hakkına sahipsiniz.</li>
                            <li class="list-group-item">İtiraz hakkı: Verilerinizin işlenmesine itiraz edebilirsiniz.</li>
                        </ol>
                        Bu hakları kullanmak veya varsa şikayetlerinizi aktarmak için lütfen bizimle iletişime geçiniz. 
                        Detaylı bilgi için <a href="/kisisel-bilgi-basvuru">tıklayınız.</a>
                        <hr class="my-4">
                        <p class="lead display-6">VII. Çerezleri Etkinleştirme/Devre Dışı Bırakma ve Silme</p>
                         
                        İnternet tarayıcınızı çerezleri otomatik veya manuel olarak silmek için kullanabilirsiniz. 
                        Ayrıca belirli çerezlerin yerleştirilemeyeceğini de belirtebilirsiniz. 
                        Başka bir seçenek, internet tarayıcınızın ayarlarını değiştirerek her çerez yerleştirildiğinde bir mesaj almanızı sağlamaktır. 
                        Bu seçenekler hakkında daha fazla bilgi için lütfen tarayıcınızın Yardım bölümündeki talimatlara bakınız. 
                        Tüm çerezler devre dışı bırakılırsa web sitemizin düzgün çalışmayabileceğini lütfen unutmayın. 
                        Tarayıcınızdaki çerezleri silerseniz, web sitelerimizi tekrar ziyaret ettiğinizde onaydan sonra tekrar yerleştirilirler. 

                        <hr class="my-4">
                        <p class="lead display-6">VIII. İletişim Detayları</p>
                        Çerez Politikamız ve bu beyan ile ilgili sorularınız ve / veya yorumlarınız için lütfen aşağıdaki iletişim bilgilerini kullanarak bizimle iletişime geçiniz. <br><br>
                        <p class="justify-content-begin">
                            <strong>SOLVAYTECH MÜHENDİSLİK SANAYİ VE TİCARET LİMİTED ŞİRKETİ</strong><br>
                            <strong>BALCALI MAHALLESİ ÇUKUROVA ÜNİVERSİTESİ BALCALI KAMPÜSÜ BLV.</strong><br>
                            <strong>TEKNOKENT Sit. A Apt. NO: 19/12 SARIÇAM/ADANA</strong><br><br>
                            <strong>İnternet sitesi:</strong><a href="/"> https://solvaytech.com.tr/</a><br>
                            <strong>E-posta:</strong> <a href="mailto:info@ceryan.com.tr">info@ceryan.com.tr</a><br>
                          </p>
                    </p>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>