{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ASSR DIM PLC - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/urunler">Ürünler</a></li>
                    <li>ASSR DIM PLC</li>
                </ol>
                <h2>ASSR DIM PLC</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>ASSR DIM PLC-01</p></header>
                    <p style="text-align:justify;">
                        Analog SSR Dimmer Kartı, AC yüklerinin gücünü hassas bir şekilde kontrol etmenize olanak 
                        sağlayan güvenilir ve yüksek verimli bir çözüm sunar. Triyak kullanarak geliştirilmiş bu 
                        dimmer kartı, özellikle aydınlatma sistemlerinde, ısıtıcılar ve motor hız kontrolü gibi 
                        uygulamalarda tercih edilir. Triyak tabanlı SSR teknolojisi ile düşük enerji tüketimi, yüksek 
                        güvenlik ve uzun ömürlü performans sağlanır. Dimmer kartı 0-240V AC 50/60Hz'e kadar 
                        kontrol eder. Seçilebilir Analog 0-3.3V/0-5V / 0-10V giriş ile karartmayı %0-100 kontrol etmek 
                        için herhangi bir kontrolörden / PLC'den Analog SSR Dimmer kartına verilebilir. 
                    </p>

                    <p>Bu ürünle ilgili detaylı bilgiler için aşağıdaki PDF dosyasını görüntüleyebilirsiniz:</p>

                    <!-- PDF Görüntüleme -->
                    <iframe src="{% static 'assets/flex/pdf/ASSR-Dim-PLC-urundetay.pdf' %}" width="100%" height="600px"></iframe>
                    <p>Alternatif olarak, PDF dosyasını doğrudan açmak için buraya tıklayın:</p>
                    <a href="{% static 'assets/flex/pdf/ASSR-Dim-PLC-urundetay.pdf' %}" target="_blank" class="btn btn-primary">PDF Detayı</a>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/urunler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Ürünler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/urunler/esp-sm3" class="btn btn-primary" role="button">ESP-SM3<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>
