{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ESP SM3 - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/urunler">Ürünler</a></li>
                    <li>ESP SM3</li>
                </ol>
                <h2>ESP SM3</h2>
            </div>
        </section><!-- End Breadcrumbs -->

        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>ESP SM3-01</p></header>
                    <p style="text-align:justify;">
                        ESP-SM3-01 kontrol kartı, ESP32 WROOM mikrodenetleyicisi kullanılarak tasarlanmış, 3 
                        adet step motoru aynı anda ve bağımsız bir şekilde sürmek için tasarlanmış bir çözüm 
                        sunmaktadır. Limit switch ve I2C desteği ile sisteminizi daha güvenli ve modüler hale 
                        getirebilirsiniz. Gelişmiş özellikleri ve yüksek verimliliği ile robotik uygulamalar ve çeşitli 
                        motor kontrol projelerinde kullanılmak üzere idealdir. 
                    </p>

                    <p>Bu ürünle ilgili detaylı bilgiler için aşağıdaki PDF dosyasını görüntüleyebilirsiniz:</p>

                    <!-- PDF Görüntüleme -->
                    <iframe src="{% static 'assets/flex/pdf/ESP-SM3-urundetay.pdf' %}" width="100%" height="600px"></iframe>

                    <p>Alternatif olarak, PDF dosyasını doğrudan açmak için buraya tıklayın:</p>
                    <a href="{% static 'assets/flex/pdf/ESP-SM3-urundetay.pdf' %}" target="_blank" class="btn btn-primary">PDF Detayı</a>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/urunler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Ürünler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/urunler/dc-dc" class="btn btn-primary" role="button">DC-DC Converter<i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>
