{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mikro Inverter - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/urunler">Ürünler</a></li>
                    <li>Mikro Inverter</li>
                </ol>
                <h2>Mikro Inverter</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Mikro Inverter</p></header>
                    <p style="text-align:justify;">
                        Üretilen doğru akım enerjisini ev içinde elektriğe dönüştürmek için güneş dizileriyle birlikte kullanılan alternatif akım cihazıdır.
                        Kırda, piknikte, sahilde ya da kampta şehir elektriğine ihtiyaç duyulan her yerde aracımızda bulunan micro inverter ile kolaylıkla erişebilirsiniz.
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/urunler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Ürünler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/urunler/bms" class="btn btn-primary" role="button">Batarya Yönetim Sistemi <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>