{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ürünler - Solvaytech</title>
    {% include 'flex/include/head.html' %}
</head>

<body>
{% include 'flex/include/header/page-header.html' %}
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">Anasayfa</a></li>
                <li>Ürünler</li>
            </ol>
            <h2>Ürünler</h2>
        </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid">
                <header class="section-header"><p>Ürünler</p></header>

                <!-- Güç Elektroniği -->
                <p class="lead display-7 fw-bold mt-4">Güç Elektroniği</p>
                <ul>
                    <li><a class="d-7-a" href="/urunler/dc-dc">DC/DC Çeviriciler</a></li>
                    <li><a class="d-7-a" href="/urunler/motor-surucu">Motor Sürücüler</a></li>
                    <li><a class="d-7-a" href="/urunler/mikro-inverter">Mikro Inverter</a></li>
                    <li><a class="d-7-a" href="/urunler/bms">Batarya Yönetim Sistemi</a></li>
                    <li><a class="d-7-a" href="/urunler/ac-chopper">AC Chopper</a></li>
                    <li><a class="d-7-a" href="/urunler/dimmer">Dimmer</a></li>
                    <li><a class="d-7-a" href="/urunler/mobil-guc">Mobil Güç Modülü</a></li>
                    <li><a class="d-7-a" href="/urunler/voltaj-yukseltici">DC-DC Voltaj Yükseltici</a></li>
                    <li><a class="d-7-a" href="/urunler/batarya-sarj-modulu">Batarya Şarj Modülü</a></li>
                </ul>

                <!-- Kontrol Kart -->
                <p class="lead display-7 fw-bold mt-4">Kontrol Kart</p>
                <ul>
                    <li><a class="d-7-a" href="/urunler/akim-sensoru">Akım Sensörü</a></li>
                    <li><a class="d-7-a" href="/urunler/step-motor-surucu">Step Motor Sürücü</a></li>
                    <li><a class="d-7-a" href="/urunler/esp-sensor-karti">ESP32 Sensör Kartı</a></li>
                    <li><a class="d-7-a" href="/urunler/esp-motor-karti">ESP32 Motor Sürücü Kartı</a></li>
                    <li><a class="d-7-a" href="/urunler/aais">Y.Z. Tabanlı Arı İzleme Sistemi</a></li>
                </ul>

                <!-- Deney Setleri -->
                <p class="lead display-7 fw-bold mt-4">Deney Setleri</p>
                <ul>
                    <li><a class="d-7-a" href="/urunler/stk">Sıcak Tel Kesme</a></li>
                    <li><a class="d-7-a" href="/urunler/bty">Batarya Termal Yönetim Test</a></li>
                </ul>
            </div>
        </div>
    </section>
</main><!-- End #main -->

{% include 'flex/include/flex-footer.html' %}
{% include 'flex/include/script.html' %}
</body>
</html>
