{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/cozumler">Çözümlerimiz</a></li>
                    <li>Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme</li>
                </ol>
                <h2>Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme</p></header>
                    <p style="text-align:justify;">
                        Endüstriyel kontrol kumanda kart yenileme / güncelleme, endüstriyel işletmelerin kullandığı eski veya arızalı kumanda kartlarının gelişen teknoloji ile güncellenerek tamir edilme işlemidir.
                        Modern hale gelen kartların verimliliği artarak güvenilir üretim sağlar. Yenilenen ve güncellenen kartlar, düşük bakım maliyetleri ve uzun ömürleri ile işletmelere tasarruf sağlar. 
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/cozumler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Çözümler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/cozumler/ekkkt" class="btn btn-primary" role="button">Endüstriyel Kontrol Kumanda Kart Tasarımı <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>