{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>İş Makineleri Kontrol Kumanda Kart Tasarım - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/cozumler">Çözümlerimiz</a></li>
                    <li>İş Makineleri Kontrol Kumanda Kart Tasarım</li>
                </ol>
                <h2>İş Makineleri Kontrol Kumanda Kart Tasarım</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>İş Makineleri Kontrol Kumanda Kart Tasarım</p></header>
                    <p style="text-align:justify;">
                        İş makineleri kontrol kumanda kartları, iş makinesinin tüm işlevlerinin doğru şekilde çalışmasını sağlayan bileşendir. 
                        İş makineleri kontrol kumanda kart tasarımına ilk olarak iş makinesinin kullanım amacı ve beklentilerini belirlemekle başlanır. 
                        Kullanım amacı, güvenlik, iş yükü ve performansı ve müşteri özel isterleri bu faktörleri belirler. Tasarım aşamasında kartın tüm işlevlerini yerine getirip doğru çalıştığından emin olmak için ayrıntılı test ve onay süreci uygulanır.
                        Alanında uzman tasarım ekibimiz yüksek kaliteli bileşen kullanımına öncelik vererek ve EMC/EMI standartlarına uygun; yüksek sıcaklık, titreşim, nem ve diğer koşullar altında güvenilir şekilde çalışabilen ürünler üretebilmektedir.
                    </p>
                </div>
                <div class="row mt-5 align-items-center">
                    <div class="d-flex justify-content-start col-6">
                        <a href="/cozumler" class="btn btn-primary" role="button"><i class="bi bi-chevron-left"></i> Çözümler </a>
                    </div>
                    <div class="d-flex justify-content-end col-6">
                        <a href="/cozumler/ekkkyg" class="btn btn-primary" role="button">Endüstriyel Kontrol Kumanda Kart Yenileme / Güncelleme <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>