  {% load static %}
  {% include 'flex/include/cookie-banner.html' %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="/" class="logo d-flex align-items-center">
              <img src="{% static 'assets/flex/img/png/logo.png' %}" alt="">
              <span>Solvaytech</span>
            </a>
            <p>Ürün yelpazemizde yer alan DC/DC çeviriciler, motor sürücüler, mikroinverter, batarya yönetim sistemi ve deney setleri müşteri isteklerine özel tasarlanarak üretilmektedir.</p>
            <div class="social-links mt-3">
              <a href="https://twitter.com/SolvayTech/" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="https://www.facebook.com/Solvaytech/" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="https://www.instagram.com/solvay.tech/" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="https://www.linkedin.com/company/solvaytech/" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Navigasyon</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/">Ana Sayfa</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/about">Hakkımızda</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/urunler">Ürünlerimiz</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/makaleler">Makaleler</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/news">Basında Biz</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Çözümlerimiz</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="/cozumler/proje-danisma">Proje Danışmanlığı</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/cozumler/otomasyon">Otomasyon</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/cozumler/ekkkyg">Bakım Onarım Hizmetleri</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="/cozumler/projeler">Projeler</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>İletişim</h4>
            <p>
              Balcalı Mah. Güney Kampüs Bulv.<br>
              Teknokent Sitesi Yönetim ve Kuluçka Merkezi<br>
              A: Blok, 01330 Sarıçam/Adana<br><br>
              <a href="tel:+903223387171">
                <strong>Tel:</strong> +90 (322) 338 71 71<br>
              </a>
              <a href="mailto:info@ceryan.com.tr">
                <strong>Email:</strong> info@ceryan.com.tr<br>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Solvaytech</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://solvaytech.com.tr/">Solvaytech</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
