{% load static %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Solvaytech, 
Türkiye'nin L6E segmentindeki Ceryan ile birlikte gelişen teknolojileri takip eden, 
Otomotiv sektöründe önemli çalışmalar gerçekleştirmek adına emin adımlarla ilerlemekteyiz.">
<meta name="keywords" content="solvaytech, ceryan, l6e, quadricycle, vehicle, ceyran, adana">
<meta name="copyright" lang="tr" content="Solvaytech Mühendislik 2023">
<meta name="author" content="Solvaytech">
<meta name="email" content="info@ceryan.com.tr">
<meta name="googlebot" content="home">
<meta name="Abstract" content="">
<meta name="classification" content="Web">
<meta http-equiv="content-language" content="en,tr">
<meta name="distribution" content="Global">
<meta name="robots" content="home">
<meta name="revisit-after" content="7 days">
<meta name="subject" content="web">
<meta name="Language" content="English, Turkish">
<meta name="Copyright" content="Solvaytech Mühendislik">
<meta name="Designer" content="Solvaytech Mühendislik">
<link rel="canonical" content="https://www.solvaytech.com.tr">
<meta property="og:title" content="Solvaytech">
<meta property="og:locale" content="en_en,en_us,tr_tr">
<meta property="og:type" content="website">
<meta property="og:description" content="Solvaytech, 
Türkiye'nin L6E segmentindeki Ceryan ile birlikte gelişen teknolojileri takip eden, 
Otomotiv sektöründe önemli çalışmalar gerçekleştirmek adına emin adımlarla ilerlemekteyiz.">
<meta property="og:url" content="https://www.solvaytech.com.tr">
<meta property="og:image" content="{% static 'assets/flex/img/png/logo.png' %}">
<meta property="og:site_name" content="Solvatech Mühendislik">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:description" content="Solvaytech, 
Türkiye'nin L6E segmentindeki Ceryan ile birlikte gelişen teknolojileri takip eden, 
Otomotiv sektöründe önemli çalışmalar gerçekleştirmek adına emin adımlarla ilerlemekteyiz.">
<meta property="twitter:title" content="Solvaytech">
<meta property="twitter:image" content="{% static 'assets/flex/img/png/logo.png' %}">
<link href="{% static 'assets/flex/img/favicon.ico' %}" rel="icon">
<link href="{% static 'assets/flex/img/favicon.ico' %}" rel="apple-touch-icon">
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/aos/aos.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/bootstrap/css/bootstrap.min.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/bootstrap-icons/bootstrap-icons.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/glightbox/css/glightbox.min.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/remixicon/remixicon.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/vendor/swiper/swiper-bundle.min.css' %}"/>
<link rel="Stylesheet" type="text/css" href="{% static 'assets/flex/css/style.css' %}"/>