{% load static %}
<script src="{% static 'assets/flex/vendor/purecounter/purecounter_vanilla.js' %}"></script>
<script src="{% static 'assets/flex/vendor/aos/aos.js' %}"></script>
<script src="{% static 'assets/flex/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/flex/vendor/glightbox/js/glightbox.min.js' %}"></script>
<script src="{% static 'assets/flex/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/flex/vendor/swiper/swiper-bundle.min.js' %}"></script>

<script src="{% static 'assets/flex/js/contact/validate.js' %}"></script>
<script async src="{% static 'assets/flex/js/cookie/cookie-banner.js' %}"></script>
<script src="{% static 'assets/flex/js/main.js' %}"></script>