{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hakkımızda - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Hakkımızda</li>
                </ol>
                <h2>Hakkımızda</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Hakkımızda</p></header>
                    <p class="lead display-6">Biz Kimiz?</p>
                    <p style="text-align:justify;">
                        KOSGEB Ar-Ge İnovasyon desteği ile 2020 yılında Çukurova Üniversitesi Teknokent’te kurulan Solvaytech, elektrikli araçlar alanında faaliyet gösteren bir Ar-Ge ve İnovasyon firmasıdır.
                    </p>
                    <br>
                    <p style="text-align:justify;">
                        "Yenilikçi fikirler ile sürdürülebilir bir gelecek" felsefesini benimseyen firmamız; mikromobilite araçların şehir içi ulaşımda verimli, çevreci ve ekonomik avantaj sağlayacağını düşünerek CERYAN’ın yerli üretimi üzerine çalışarak ön siparişini halka açmıştır.
                    </p>
                    <br>
                    <p style="text-align:justify;">
                        CERYAN, şehir içi ulaşımda yaşanan trafik sorununa, küçük ve kolay park edilebilir olmasıyla alternatif bir çözüm sunar. Çevre dostu ve zaman kaybı sorunlarına pratik bir seçenek olarak geleceğin alt yapısını oluşturur. Şirketimiz, Adana Bölgesinde elektrikli araç ekosistemini geliştirerek istihdam arttırmayı hedeflemektedir.
                    </p>
                    <br>
                    <p style="text-align:justify;">
                        Akademik ve Endüstriyel know-how ve bilgi birikimini bir araya getiren Solvaytech, sürecin her aşamasında; üretimden tasarıma, kitlelerin tercih ve beğenilerine değer vermektedir. Kullanıcıların beğeni ve isteklerini dikkate alan Solvaytech, elektrikli araç için <a href="www.bizimcizgimiz.com">www.bizimcizgimiz.com</a> adresinde gövde tasarımı yarışması başlatmıştır.
                    </p>
                    <br>
                    <p style="text-align:justify;">
                        Bizim Çizgimiz yarışması ile tasarımı belirlenen ilk yerli mikro aracımız: CERYAN 45km/s hıza sahiptir. M1 ve M2 modeli olan CERYAN, 60 km ve 100 km olarak iki farklı menzile sahiptir. Solvaytech, Yeşil Mutabakat ile birlikte karbon ayak izini azaltmayı hedeflemiş ve CERYAN M2 sınıfı aracında güneş paneli kullanımına özen göstermiştir.
                    </p>
                    <br>
                    <p style="text-align:justify;">
                        L6e Quadricycle segmentine ait aracımızın tüm elektronik ve mekanik aksamları Çukurova Üniversitesi Teknokent’te bulunan AR-GE ofisimizde tasarlandı. Elektrikli araçlara yönelik DC/DC Ana Güç Grubu, Batarya Yönetim Sistemi, Onboard Şarj Cihazı, BLDC Motor Sürücüsü, EVSE (Elektrikli Araç Besleme Ekipmanları) alt bileşenler dışında Multiport Çift Yönlü DC/DC Dönüştürücü, Güneş Paneli ile Entegre Mikroinverter ve Akıllı Arı Sürüsü İzleme projelerimizde bulunmaktadır.
                    </p>
                    <hr class="my-4">
                    <header class="section-header"><p>Vizyon ve Misyonumuz</p></header>
                    <p class="lead display-6">Misyon</p>
                    <p style="text-align:justify;">
                        Sürdürülebilir bir gelecekte bilimsel bilgilere 
                        dayalı, özgün, yenilikçi, yüksek teknolojili ürün ve hizmetlerini küresel olarak sunmak. 
                        Teknolojiye dayalı ürün ve hizmet geliştirmek.
                    </p>
                    <p class="lead display-6">Vizyon</p>
                    <p style="text-align:justify;">
                        Yenilikçi ve sürdürülebilir çözümler geliştirerek hayatı kolaylaştırmak. 
                        Müşterilerimizin en değerli iş ortağı olarak onların ihtiyaçlarını en iyi şekilde karşılamak. 
                        Dünya genelinde mühendislik ve teknoloji alanında yenilikçi ve saygın şirketlerinden olmak.
                    </p>
                    <hr class="my-4">
                    <header class="section-header"><p>Hedeflerimiz ve Değerlerimiz</p></header>
                    <p class="lead display-6">Hedeflerimiz</p>
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">Müşteri Memnuniyeti</li>
                        <li class="list-group-item">Sürekli Öğrenme ve Gelişim</li>
                        <li class="list-group-item">Araştırma</li>
                        <li class="list-group-item">Sürdürülebilir Büyüme</li>
                        <li class="list-group-item">Kurumsallık</li>
                        <li class="list-group-item">İnovasyonu Teşvik Etmek</li>
                        <li class="list-group-item">İş Birliği ve Ortaklık</li>
                    </ol>
                    <p class="lead display-6 mt-5">Değerlerimiz</p>
                    <ol class="list-group list-group-flush">
                        <li class="list-group-item">Müşteri Odaklılık</li>
                        <li class="list-group-item">Dayanışma</li>
                        <li class="list-group-item">Değer Katma</li>
                        <li class="list-group-item">Şeffaflık</li>
                        <li class="list-group-item">Sorumluluk</li>
                        <li class="list-group-item">Takım Çalışması</li>
                    </ol>
                </div>
                
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>