{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Cinsiyet Eşitliği Planı - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Cinsiyet Eşitliği Planı</li>
                </ol>
                <h2>Cinsiyet Eşitliği Planı</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Cinsiyet Eşitliği Planı</p></header>
                    <p style="text-align:justify;">
                        Şirket olarak cinsiyet eşitliğine büyük önem veriyoruz. 
                        Kadınların ve erkeklerin eşit haklara sahip olması için çalışma hayatında adil bir ortamın oluşmasını sağlamak şirket başarısına katkıda bulunur. 
                        Bu nedenle, ‘’Cinsiyet Eşitliği Planı (GEP)’’ oluşturduk ve bu plan doğrultusunda çalışmalarımıza devam ediyoruz. 
                        Kadınların çalışma hayatına katılımını arttırmak için işe alım süreçlerinde cinsiyet ayrımcılığına karşı mücadele ediyoruz. 
                        Kadınların liderlik pozisyonlarına yükselmesini destekliyoruz.
                    </p>
                    <ul>
                        <li>
                            <p>
                                Cinsiyet temelli ayrımcılığı önlemek ve kadınların iş hayatında eşit muamele görmesini sağlamak için tüm çalışanlarımıza eşit hak ve fırsatlar sağlıyoruz.
                            </p>
                        </li>
                        <li>
                            <p>
                                Ücretlendirme konusunda cinsiyet ayrımcılığına izin vermiyoruz.
                            </p>
                        </li>
                        <li>
                            <p>
                                Kadınların hamilelik ve doğum izni gibi haklarından yararlanmasını engelleyen herhangi bir tutumu kabul edilemez buluyoruz.
                            </p>
                        </li>
                        <li>
                            <p>
                                Liderlik pozisyonları ve karar verme süreçlerinde kadınların dahil olmasını teşvik ediyoruz.
                            </p>
                        </li>
                    </ul>
                    <p class="d-flex justify-content-end">Saygılarımızla</p>
                </div>
                
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>