{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Makaleler - Solvaytech</title>
        {% include 'flex/include/head.html' %}
    </head>

    <body>
    {% include 'flex/include/header/page-header.html' %}
    <main id="main">
        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/">Anasayfa</a></li>
                    <li>Makaleler</li>
                </ol>
                <h2>Makaleler</h2>
            </div>
        </section><!-- End Breadcrumbs -->
        <section class="inner-page">
            <div class="container p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid">
                    <header class="section-header"><p>Makaleler</p></header>
                    <ul>
                        <li>
                            <a class="d-7-a" href="https://cukurovaumfd.cu.edu.tr/storage/39-4/9.pdf">
                                <p class="lead display-7">Istanbullu, M. & Polat, A.O. & Soygun, K. & Yuva, D.  (2024), Design and Realization of a Novel Programmable Tobacco Smoking 
                                    Simulator </p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://www.e3s-conferences.org/articles/e3sconf/abs/2024/94/e3sconf_icpgres2024_02001/e3sconf_icpgres2024_02001.html">
                                <p class="lead display-7">Polat, A.O. & Celtek, S.A. & Kul, S. & Balci, S. & Rawat, N. & Oubelaid, A. & Bajaj, M.  (2024), Zero Energy Vehicle Concept: L6e Electric Vehicle Design for Sustainable Urban Transportation</p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://link.springer.com/article/10.1007/s13369-023-08668-x">
                                <p class="lead display-7">Polat, A.O. & Erden, B.C. & Kul, S. & Nasiroglu, F.  (2024), Light Electric Vehicle Performance with Digital Twin Technology: A Comparison of Motor Types</p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://www.researchgate.net/publication/349198277_Multiport_bidirectional_DC-DC_converter_for_PV_powered_electric_vehicle_equipped_with_battery_and_supercapacitor">
                                <p class="lead display-7">Savrun, M.M. and Atay, A. (2020), Multiport bidirectional DC–DC converter for PV powered electric vehicle equipped with battery and supercapacitor. IET Power Electronics, 13: 3931-3939.</p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://dergipark.org.tr/tr/pub/cukurovaumfd/issue/65318/1005543">
                                <p class="lead display-7">Savrun, M. M. & Atay, A. (2021). Fotovoltaik Panel ve Batarya Entegre Sistemler için Yeni Bir Interleaved Tabanlı Çok Portlu İzole DA-DA Dönüştürücü Analizi . Çukurova Üniversitesi Mühendislik Fakültesi Dergisi , 36 (3) , 743-754 . DOI: 10.21605/cukurovaumfd.1005543</p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://dergipark.org.tr/en/pub/ems/issue/62799/934248">
                                <p class="lead display-7">Savrun, M. M. & Atay, A. (2021). High Voltage Gain Multi-port Bidirectional DC-DC Converter with an Effective Multi-loop Control Strategy for PV/Battery Integrated Systems . European Mechanical Science , 5 (3) , 99-104 . DOI: 10.26701/ems.934248</p>
                            </a>
                        </li>
                        <hr class="my-4">
                        <li>
                            <a class="d-7-a" href="https://www.researchgate.net/publication/353794452_NOVEL_PARTIALLY_INSULATED_MULTIPORT_DC-DC_CONVERTER_WITH_PARALLEL_OPERATION_TECHNIQUE">
                                <p class="lead display-7">Atay, Alihan & Savrun, Murat. (2021). NOVEL PARTIALLY INSULATED MULTIPORT DC-DC CONVERTER WITH PARALLEL OPERATION TECHNIQUE.</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main><!-- End #main -->
    {% include 'flex/include/flex-footer.html' %}
    {% include 'flex/include/script.html' %}
    </body>
</html>
